<!-- Navbar component  -->
<nav class="navbar">
    <!-- Button that will only appear on mobile -->
    <button class="hamburger-menu" id="hamburger">
        =
    </button>

    <!-- Logo and Name-->
    <div class="logo">
        <img src="/public/images/logo.png" alt="Logo" class="logo-image">
        <span class="logo-text">UniBite</span>
    </div>

    <!-- Navigation links -->
    <ul class="nav-links" id="nav-links">
        <li><a href="../../pages/offers/BrowsePage.html">Browse Offers</a></li>
        <li><a href="../../pages/offers/CreatePage.html">Create Offer</a></li>
    </ul>

    <!-- Points and User Profile -->
    <div class="user-profile">
        <span class="points">Points: 100</span>
        <img src="/public/images/user-profile.png" alt="User Profile" class="profile-image">
    </div>
</nav>