<!-- Navbar component -->
<nav class="navbar">

    <!-- Mobile hamburger -->
    <button class="hamburger-menu" id="hamburger">
        ☰
    </button>


    <!-- Logo -->
    <div class="logo">

        <img src="../../images/logo/logo.png" alt="UniBite Logo" class="logo-image">

        <span class="logo-text">
            UniBite
        </span>

    </div>


    <!-- Navigation links -->
    <ul class="nav-links" id="nav-links">

        <li>
            <a href="../../pages/offers/BrowsePage.html">
                Browse Offers
            </a>
        </li>

        <li>
            <a href="../../pages/offers/CreatePage.html">
                Create Offer
            </a>
        </li>

    </ul>


    <!-- User -->
    <div class="user-profile">

        <span class="points">
            🟡 100
        </span>

        <img src="../../images/user-profile.png" alt="User Profile" class="profile-image">

    </div>

</nav>